@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Special Elite', cursive;
    color: #fff;
}

div {
   display: flex;
   justify-content: center;
}
div img {
    max-width: 100%;
    width: 350px;
    margin: 10px 10px 10px 10px
}
.icons{
    display: flex;
    width: 600px;
    justify-content: space-between;
}
section.icons{
    
}