@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Special Elite', cursive;
    color: #fff;
}

h1 {
    padding: 18px;
    font-size: 55px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    padding: 18px;
    font-size: 80px;
    text-align: center;
}

div {
   display: flex;
   justify-content: center;
}
div img {
    max-width: 100%;
    width: 250px;
    margin: 10px 10px 10px 10px
}
.icons{
    display: flex;
    width: 322px;
    justify-content: space-between;
    padding: 18px;
}
section.icons{
    margin: 0 auto;
    height: auto;
}
.playOnHover{
    background-image: url(img/Harbour-slices_03.gif);
    background-size: cover;
    cursor: pointer;
}
.playOnHover :hover{
    cursor: pointer;
    background-image: url(img/gif3.gif);
    z-index: 3;
}

@media screen and (max-width: 900px) {
    .slice1, .slice4, .slice5, .slice8, .slice3, .gif5 {
       display: none;
    }
    div img{
        width: 170px;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 45px;
    }
  }
  @media screen and (min-width: 900px) {
    .gif3, .gif5 {
       display: none;
    }
    .slice3:hover{
        cursor: pointer;
        background-image: url(img/gif3.gif);
        z-index: 3;
    }
}